@font-face {
	font-family: 'Khula Light';
	src: url('./assets/fonts/Khula-Light.ttf')  format('truetype');
}

@font-face {
	font-family: 'Khula Regular';
	src: url('./assets/fonts/Khula-Regular.ttf')  format('truetype');
}

body {
	font-size: 16px;
	font-family: 'Khula Regular', 'Segoe UI', sans-serif;
}

h1 {
	border-bottom: 0.0625em solid #333;
}